/* stylelint-disable-next-line import-notation */
@import './reset.scss';

:root {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

main {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
  overflow: hidden;
}
