.Section2 {
  width: 100%;

  .Size {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Section2Inner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 164px;

  @media (width <= 1024px) {
    padding-top: 114px;
  }

  @media (width <= 768px) {
    padding-top: 94px;
  }

  @media (width <= 540px) {
    padding-top: 74px;
  }
}

.Section2TxtArea {
  float: left;
  width: 50%;

  @media (width <= 768px) {
    width: 100%;
  }
}

.ImgPc {
  display: block;
}

.ImgMo {
  @media (width <= 480px) {
    display: inline-block;
  }

  display: none;
}

.Section2ImgArea {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  font-size: 0;
  text-align: right;

  @media (width <= 768px) {
    box-sizing: border-box;
    width: 100%;
    margin-top: 70px;
    padding-left: 190px;
  }

  @media (width <= 670px) {
    padding-left: 90px;
  }

  @media (width <= 540px) {
    margin-top: 45px;
  }

  @media (width <= 460px) {
    margin-top: 30px;
    padding-left: 40px;
  }

  p {
    overflow: hidden;
    border-radius: 0 0 150px;
    background-image: url('/images/img_main_sec2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (width <= 768px) {
      display: inline-block;
      margin-right: -20px;
    }

    @media (width <= 540px) {
      border-radius: 0 0 80px;
    }

    @media (width <= 480px) {
      background-image: url('/images/img_main_sec2_mo.jpg');
    }

    img {
      max-width: none;

      @media (width <= 1024px) {
        max-width: 100%;
        height: 705px;
      }

      @media (width <= 768px) {
        max-width: 100%;
        height: auto;
      }

      @media (width <= 480px) {
        display: none;
      }
    }

    .ImgMo {
      @media (width <= 480px) {
        display: inline-block;
      }

      display: none;
    }
  }
}

.BasicImg {
  max-width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
}
