.Section7 {
  min-height: 500px;

  .ContactFormWrapper {
    box-sizing: border-box;
    margin-top: 48px;
    padding-bottom: 120px;
    background-color: #f6f6f6;
  }

  .Right {
    box-sizing: border-box;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;

    @media (width <= 580px) {
      padding: 0 20px;
    }
  }

  .ContactForm {
    box-sizing: border-box;
    padding: 60px 52px 50px;
    border-radius: 0 0 150px;
    background-color: #fff;

    @media (width <= 768px) {
      padding: 40px 32px 30px;
    }

    @media (width <= 540px) {
      border-radius: 0 0 80px;
    }

    @media (width <= 430px) {
      padding: 30px 25px;
    }
  }

  .ContactFormTable {
    width: 100%;
    border-collapse: collapse;

    @media (width <= 540px) {
      display: block;
      width: 100%;
    }

    caption {
      display: none;
    }

    tbody {
      @media (width <= 540px) {
        display: block;
        width: 100%;
      }

      td {
        box-sizing: border-box;
        padding: 10px 0;
        font-size: 0;

        @media (width <= 540px) {
          display: block;
          width: 100%;
          padding: 20px 0 0 !important;
        }

        em {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          margin-bottom: 10px;
          padding-right: 17px;
          color: #111;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1;
          letter-spacing: -0.5px;

          @media (width <= 540px) {
            font-size: 1.565rem;
          }

          .Required {
            position: absolute;
            top: 1px;
            right: 0;
            font-size: 0;

            @media (width <= 540px) {
              top: 3px;
            }
          }

          .Required > span {
            color: #e66134;
            font-size: 2.4rem;
            font-weight: 600;

            @media (width <= 540px) {
              font-size: 2rem;
            }
          }

          tr:first-child {
            td {
              padding-top: 0;
            }
          }
        }

        input[type='text'] {
          box-sizing: border-box;
          width: 100%;
          height: 44px;
          padding: 0 15px;
          border: 1px solid #ccc;
          color: #111;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 42px;
          letter-spacing: -0.5px;
          vertical-align: middle;

          @media (width <= 540px) {
            font-size: 1.565rem;
          }

          @media (width <= 430px) {
            height: 40px;
            line-height: 38px;
          }
        }

        textarea {
          display: block;
          box-sizing: border-box;
          width: 100%;
          height: 116px;
          padding: 15px;
          border: 1px solid #ccc;
          color: #111;
          font-size: 1.5rem;
          font-weight: 300;
          letter-spacing: -0.5px;
          resize: none;
        }
      }

      .None {
        text-indent: -99999px;
        opacity: 0;
        visibility: hidden;

        @media (width <= 540px) {
          display: none;
        }
      }

      .CheckList {
        margin-top: 25px;

        .CheckBox {
          position: relative;
          margin-top: 10px;

          input[type='checkbox'] {
            position: absolute;
            left: -9999px;
            display: inline-block;
            width: 1px;
            height: 1px;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
          }

          label {
            position: relative;
            display: inline-block;
            padding-left: 27px;
            color: #6d6d6d;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 20px;
            letter-spacing: -0.5px;
            cursor: pointer;

            @media (width <= 540px) {
              font-size: 1.46rem;
            }

            &::before {
              position: absolute;
              top: 50%;
              left: 0;
              display: block;
              clear: both;
              box-sizing: border-box;
              width: 20px;
              height: 20px;
              margin-top: -10px;
              border: 1px solid #ababab;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              line-height: 20px;
              text-align: center;
              content: '';
            }
          }

          .CheckBox:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .Spam {
      margin-top: 25px;

      em {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding-right: 17px;
        color: #6d6d6d;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.5px;

        @media (width <= 540px) {
          font-size: 1.565rem;
        }
      }

      .SpamContent {
        img {
          float: left;
        }

        .SpamRefresh {
          display: block;
          float: left;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          margin: 0 10px;
          border: 1px solid #ccc;
          background-image: url('/images/ico_refresh2.png');
          background-position: 58% 50%;
          background-repeat: no-repeat;
          font-size: 0;
          text-indent: -999999px;
        }

        .ZsfCode {
          display: block;
          float: left;
          width: 82px;
          height: 40px;
          line-height: 40px;
        }

        &::after {
          display: block;
          clear: both;
          content: '';
        }
      }
    }
  }

  .SubmitButtonWrapper {
    margin-top: 30px;
    font-size: 0;
    text-align: center;

    .SubmitButton {
      width: 155px;
      height: 49px;
      border-radius: 24.6px;
      background-color: #e66134;
      color: #fff;
      font-size: 14px;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: 0;
      cursor: pointer;
    }

    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }
}
