.TextArea {
  margin-top: 50px;

  @media (width <= 1024px) {
    margin-top: 30px;
  }

  p {
    color: rgb(28 37 47);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: -0.5px;
    word-break: keep-all;
    word-wrap: break-word;

    @media (width <= 540px) {
      font-size: 1.4rem;
    }
  }

  .dpb {
    display: block;
  }
}

.TextInfo {
  box-sizing: border-box;
  padding-top: 20px;
  border-top: 1px solid rgb(28 37 47 / 20%);
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.5px;

  @media (width <= 540px) {
    font-size: 1.4rem;
  }

  em {
    display: block;
    color: #1c252f;
    font-weight: 500;
  }

  span {
    display: block;
    margin-top: 8px;
    color: #808080;
  }
}
