.Section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainTxt {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 165px;
}

.Size {
  @media (width <= 1200px) {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }

  box-sizing: border-box;
  width: 100%;
  max-width: 1360px;
  height: auto;
  margin: 0 auto;
  padding: 0 40px;
}

.Section1Title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  white-space: pre-line;
}

.NextTile {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 70px;
  display: flex;
  width: auto;
  height: auto;
  background-color: #fff;
  color: black;
  text-align: center;
  white-space: pre-line;
  transform: translateY(0);
}

.NextTileDetails {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 300px;
  padding: 30px 20px 30px 30px;
  background-color: #e66134;
  text-align: left;
}

.NextTileInner {
  position: relative;
  height: 100%;
}

.NextTileHeading {
  display: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.NextTileInnerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.NextTileTitle {
  display: block;
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 22px;
}

.NextTileArrow {
  display: block;
  margin-top: 15px;
}

.NextTilePreview {
  width: 210px;
  height: 300px;
  overflow: hidden;
  background-color: #000;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Section2 {
  width: 100%;

  .Size {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.Section2Inner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 164px;

  @media (width <= 1024px) {
    padding-top: 114px;
  }

  @media (width <= 768px) {
    padding-top: 94px;
  }

  @media (width <= 540px) {
    padding-top: 74px;
  }
}

.Section2TxtArea {
  float: left;
  width: 50%;

  @media (width <= 768px) {
    width: 100%;
  }
}

.ImgPc {
  display: block;
}

.ImgMo {
  @media (width <= 480px) {
    display: inline-block;
  }

  display: none;
}

.Section2ImgArea {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  font-size: 0;
  text-align: right;

  @media (width <= 768px) {
    box-sizing: border-box;
    width: 100%;
    margin-top: 70px;
    padding-left: 190px;
  }

  @media (width <= 670px) {
    padding-left: 90px;
  }

  @media (width <= 540px) {
    margin-top: 45px;
  }

  @media (width <= 460px) {
    margin-top: 30px;
    padding-left: 40px;
  }

  p {
    overflow: hidden;
    border-radius: 0 0 150px;
    background-image: url('/images/img_main_sec2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (width <= 768px) {
      display: inline-block;
      margin-right: -20px;
    }

    @media (width <= 540px) {
      border-radius: 0 0 80px;
    }

    @media (width <= 480px) {
      background-image: url('/images/img_main_sec2_mo.jpg');
    }

    img {
      max-width: none;

      @media (width <= 1024px) {
        max-width: 100%;
        height: 705px;
      }

      @media (width <= 768px) {
        max-width: 100%;
        height: auto;
      }

      @media (width <= 480px) {
        display: none;
      }
    }

    .ImgMo {
      @media (width <= 480px) {
        display: inline-block;
      }

      display: none;
    }
  }
}

.BasicImg {
  max-width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
}

.Section3 {
  .Size {
    box-sizing: border-box;
    width: 100%;
    max-width: 1360px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;

    @media (width <= 1024px) {
      padding: 0;
    }
  }

  .ContentWrapper {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 150px 0 140px;

    @media (width <= 1024px) {
      padding: 0 0 80px 80px;
    }

    @media (width <= 768px) {
      padding: 0 0 40px 40px;
    }

    @media (width <= 460px) {
      padding: 0 0 40px 25px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 160px;
      z-index: -1;
      display: block;
      clear: both;
      width: 200%;
      height: 100%;
      background-color: #00162e;
      content: '';

      @media (width <= 1024px) {
        left: 115px;
      }

      @media (width <= 768px) {
        left: 75px;
      }

      @media (width <= 460px) {
        left: 50px;
      }
    }

    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }

  .TitleTypeA {
    position: absolute;
    top: 210px;
    right: 0;
    z-index: 30;
    box-sizing: border-box;
    width: 100%;
    padding-right: 45px;
    text-align: right;

    h2 {
      color: #fff;
      line-height: 0.75;
    }

    h2::before {
      inset: auto -20px -24px auto;
      width: 305px;
      background-color: #e66134;
      transform: skew(1deg, 1deg);
    }

    p {
      margin-top: 30px;
      color: #c2cbd5;
    }

    @media (width <= 1350px) {
      padding-right: 45px;
    }

    @media (width <= 1024px) {
      position: static;
      margin-top: 65px;
      padding: 0 35px 0 70px;
      text-align: left;
    }

    @media (width <= 540px) {
      margin-top: 45px;
    }

    @media (width <= 460px) {
      padding: 0 20px 0 50px;
    }
  }

  .TextArea {
    float: left;
    box-sizing: border-box;
    width: 39.25%;
    margin: 0;
    padding-top: 200px;
    padding-left: 55px;

    p {
      color: #d7d9dc;
      font-size: 1.7rem;
      font-weight: 300;
      line-height: 1.7;
      letter-spacing: -0.5px;
    }

    .LearnMore {
      a {
        background-color: #949aa1;
        color: #fff;
      }
    }
  }
}

.Inner {
  box-sizing: border-box;
  width: 100%;
  padding-top: 150px;

  @media (width <= 1024px) {
    padding-top: 100px;
  }

  @media (width <= 768px) {
    padding-top: 80px;
  }

  @media (width <= 540px) {
    padding-top: 50px;
  }
}

.Section4_5 {
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    clear: both;
    width: 92.5%;
    height: 65.238%;
    border-radius: 0 0 150px;
    background-color: #f6f6f6;
    content: '';
  }
}

.Section4 {
  .Size {
    max-width: 2200px;
  }

  .TitleTypeA {
    text-align: center;

    @media (width <= 768px) {
      text-align: left;
    }
  }

  .SlideImg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
      opacity: 0;
      visibility: hidden;
    }
  }

  .SlideArea {
    margin-top: 48px;

    @media (width <= 768px) {
      position: relative;
    }

    @media (width <= 540px) {
      margin-top: 40px;
    }

    @media (width <= 430px) {
      margin-top: 25px;
    }
  }

  .CaseSlide {
    position: static;
    overflow: initial;

    @media (width <= 768px) {
      overflow: hidden;
    }
  }

  .TextBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(230 97 52 / 90%);
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;

    .Text {
      transition: transform 0.4s ease;
      transform: translateY(20px);
    }
  }

  .SlideLink {
    display: block;
    transition: all 0.4s ease;
    box-shadow: 14px 14px 20px 0 rgb(0 0 0 / 20%);

    &:hover {
      transform: translateY(-30px);

      .TextBox {
        opacity: 1;

        .Text {
          transform: translateY(0);
        }
      }
    }
  }

  .Table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .TableCell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .Text {
    em {
      display: block;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0;
    }

    span {
      display: block;
      margin-top: 25px;
      color: #002349;
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.Section5 {
  .Size {
    @media (width <= 1550px) {
      max-width: 1024px;
    }
  }

  .Inner {
    padding-bottom: 175px;

    @media (width <= 1024px) {
      padding-bottom: 125px;
    }

    @media (width <= 840px) {
      padding-bottom: 105px;
    }

    @media (width <= 768px) {
      padding-top: 80px;
    }

    @media (width <= 540px) {
      padding: 06px 0;
    }

    @media (width <= 430px) {
      padding: 70px 0 30px;
    }

    @media (width <= 375px) {
      padding: 60px 0 25px;
    }
  }

  .Top {
    position: relative;
  }

  .Bottom {
    margin-top: 40px;
  }

  .ArrowBox {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0;
  }

  .TextArea {
    box-sizing: border-box;
    min-height: 121px;
    margin-top: 0;
    overflow: hidden;

    p {
      color: #1c252f;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      letter-spacing: -0.5px;
    }
  }

  .TextInfo {
    margin-top: 25px;
  }
}

.Section6 {
  .Inner {
    padding: 100px 0;

    @media (width <= 768px) {
      padding: 80px 0;
    }

    @media (width <= 540px) {
      padding: 40px 0 60px;
    }

    @media (width <= 430px) {
      padding: 40px 0 30px;
    }

    &::after {
      display: block;
      clear: both;
      content: '';
    }
  }

  .Left {
    float: left;
    width: 35%;
    height: 155px;

    @media (width <= 840px) {
      float: none;
      width: 100%;
      height: auto;
    }
  }

  .TitleTypeA {
    margin-top: -11px;

    @media (width <= 840px) {
      margin-top: 0;
    }
  }

  .Right {
    float: left;
    width: 65%;

    @media (width <= 840px) {
      float: none;
      width: 100%;
      margin-top: 50px;
    }

    @media (width <= 430px) {
      margin-top: 35px;
    }
  }

  .Partner {
    width: 100%;
    overflow: hidden;
  }
}
