.Section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.MainTxt {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 165px;
}

.Size {
  @media (width <= 1200px) {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1360px;
  height: auto;
  margin: 0 auto;
  padding: 0 40px;
}

.Section1Title {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0;
  white-space: pre-line;
}

.NextTile {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 70px;
  display: flex;
  width: auto;
  height: auto;
  background-color: #fff;
  color: black;
  text-align: center;
  white-space: pre-line;
  transform: translateY(0);
}

.NextTileDetails {
  display: block;
  box-sizing: border-box;
  width: 160px;
  height: 300px;
  padding: 30px 20px 30px 30px;
  background-color: #e66134;
  text-align: left;
}

.NextTileInner {
  position: relative;
  height: 100%;
}

.NextTileHeading {
  display: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.NextTileInnerBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.NextTileTitle {
  display: block;
  width: 100%;
  height: 44px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 22px;
}

.NextTileArrow {
  display: block;
  margin-top: 15px;
}

.NextTilePreview {
  width: 210px;
  height: 300px;
  overflow: hidden;
  background-color: #000;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Section2 {
  width: 100%;
  height: 100vh;
}

.Section2Inner {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 164px;

  @media (width <= 1024px) {
    padding-top: 114px;
  }

  @media (width <= 768px) {
    padding-top: 94px;
  }

  @media (width <= 540px) {
    padding-top: 74px;
  }
}

.Section2TxtArea {
  float: left;
  width: 50%;

  @media (width <= 768px) {
    width: 100%;
  }
}

.Section2ImgArea {
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding-left: 15px;
  font-size: 0;
  text-align: right;

  @media (width <= 768px) {
    box-sizing: border-box;
    width: 100%;
    margin-top: 70px;
    padding-left: 190px;
  }

  @media (width <= 670px) {
    padding-left: 90px;
  }

  @media (width <= 540px) {
    margin-top: 45px;
  }

  @media (width <= 460px) {
    margin-top: 30px;
    padding-left: 40px;
  }

  p {
    overflow: hidden;
    border-radius: 0 0 150px;
    background-image: url('/images/img_main_sec2.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (width <= 768px) {
      display: inline-block;
      margin-right: -20px;
    }

    @media (width <= 540px) {
      border-radius: 0 0 80px;
    }

    @media (width <= 480px) {
      background-image: url('/images/img_main_sec2_mo.jpg');
    }

    img {
      max-width: none;

      @media (width <= 1024px) {
        max-width: 100%;
        height: 705px;
      }

      @media (width <= 768px) {
        max-width: 100%;
        height: auto;
      }

      @media (width <= 480px) {
        display: none;
      }
    }

    .ImgMo {
      @media (width <= 480px) {
        display: inline-block;
      }

      display: none;
    }
  }
}

.BasicImg {
  max-width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
}

.ImgPc {
  display: block;
}

.ImgMo {
  @media (width <= 480px) {
    display: inline-block;
  }

  display: none;
}
