.Section4_5 {
  position: relative;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    clear: both;
    width: 92.5%;
    height: 65.238%;
    border-radius: 0 0 150px;
    background-color: #f6f6f6;
    content: '';

    @media (width <= 1250px) {
      right: 20px;
      left: auto;
      width: 100%;
    }

    @media (width <= 1024px) {
      right: 0;
    }

    @media (width <= 840px) {
      height: 71.5%;
    }

    @media (width <= 540px) {
      border-radius: 0 0 80px;
    }
  }
}
